header {
    background-image: url(../images/kentridge.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title1 {
    width: 40%;
    display: inline-block;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Arial, Helvetica, sans-serif;
}

.title2 {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    font-family: Georgia;
    color: gold;
    font-weight: bold;
    border-color: darkgoldenrod;
    padding: 10px;
    border-width: 3px;
    border-left: solid;
    padding-left: 1%;
}

h2 {
    font-family: Georgia;
    color: lightgreen;
    font-weight: bold;
    border-color: darkgoldenrod;
    padding: 10px;
    border-width: 3px;
    border-left: solid;
    padding-left: 1%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c3b59;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-2.png");
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border:solid;
    border-color:black;
    border-width:3px;
}

li {
    float: left;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: lightgreen;
        }

.active {
    background-color: #4CAF50;
}
